# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos
.env
*.env

# Modelos — ignorar todo excepto la carpeta final
models/*.pth
models/model_*.pth

# W&B
wandb/
wandb/*

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini